:root {
    --primary-text-color: rgb(34, 34, 34);
    --secondary-text-color: rgba(204, 204, 204, 0.5);
    --button-color: rgb(187, 187, 187);
    --background-color: rgb(56, 56, 56);
    --outline-color: rgb(0, 204, 255);
    --grid-color: rgba(233, 233, 233, 0.5);
    --ruler-background-color: rgb(78, 78, 78);

    --ruler-size: 24px;
    --tick-size: calc(var(--ruler-size) / 3);
    --tick-spacing: calc(var(--tick-size) * 2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 2px;
}

header {
    display: inline-flex;
    padding: 8px 16px;
    gap: 16px;
    background-color: var(--background-color);

    button {
        padding: 8px 12px;
        background-color: var(--button-color);
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        opacity: 0.6;
    }

    #save-polygons {
        margin-left: auto;
    }
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: inherit;
}

.buffer {
    width: 100%;
    background-color: var(--background-color);
    user-select: none;
    transition: 0.2s ease;
    transition-property: filter;
}

.buffer {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    height: 30%;
    padding: 8px 16px;
    resize: vertical;
    overflow: auto;
}

polygon-item {
    display: flex;
    background-color: transparent;
}

.dragenter {
    cursor: copy;
    filter: brightness(0.6);
}

.draggable {
    cursor: grab;
    color: transparent;
}

.draggable:hover {
    color: var(--outline-color);
}

.draggable:active {
    cursor: grabbing;
    color: transparent;
}
